body {
    margin: 0;
    padding: 0;
    background: no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  .fondo{

      width: 100%;
      left: 0;
      height: 100vh;
  }

  .login-box {
    width: 350px;
    height: 450px;
    background: #4A455B;
    opacity: 73%;
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .login-box .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: calc(30% - 70px);
  }
  .login-box .avatarIS {
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(106.5% - 90px);
    left: calc(45% - 70px);
    
  }
  .login-box h1 {
    margin: 0;
    padding: 0 0 30px;
    position: relative;
    top: calc(100% - 325px);
    left: calc(45% - 70px);
    font-size: 33px;
    font-family: Bahnschrift;
    font-weight: lighter;
  }
  .login-box label {
    margin: 3%;
    padding: 0;
    font-weight: Bahnschrift;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .login-box input[type=" text "], 
  .login-box input[type=" password "] {
    height: 35px;
    color: #707070;
    font-size: 16px;
    border-radius: 20px;
  }
  
  .login-box .Iniciar {
    align-items: center;
    padding: 10 0 0px;
    position: relative;
    width: 60%;
    opacity: 60%;
    border: none;
    outline: none;
    height: 27px;
    background: #0c757c;
    color: #fff;
    font-size: 18px;
    opacity: 83%;
    border-radius: 20px;
    transform: translate(30%, 80%);
  }

  .login-box .Iniciar {
    text-align: center;
    transform: translate(30%, 80%);
    opacity: 70%;
  }

  
  .login-box .Iniciar:hover {
    cursor: pointer;
    background: #637475;
    color: #000;
  }
  
  .login-box a {
    margin: 0;
    padding: 0 0 30px;
    position: relative;
    top: calc(100% - 325px);
    left: calc(45% - 70px);
    font-family: Bahnschrift;
    font-weight: lighter;
    text-decoration: none;
    font-size: 100%;
    line-height: 20px;
    color: rgb(255, 255, 255);
  }
  
  .login-box a:hover {
    color: rgb(66, 209, 102);
  }